.cactus-small {
  position: absolute;
  width: 17vmin;
  height: 20vmin;
  top: 25vmin;
  right: 28vmin;
  background: $cactus-color;
  border-radius: 45%;
  border: 1vmin solid $outline-color;
  &::before {
    content: "";
    position: absolute;
    width: 5vmin;
    height: 20vmin;
    left: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-right: 1vmin solid $cactus-lines-color;
  }
  &::after {
    content: "";
    position: absolute;
    width: 5vmin;
    height: 20vmin;
    right: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-left: 1vmin solid $cactus-lines-color;
  }
  @import "pricks-right";
}
